.DS_Store
.buildlog/
.history
.svn/
.gradle/
.fvm/
.fvmrc

.build/

.android/
.ios/
.ohos/

*.iml
*.ipr
*.iws
.idea/
.flutter-plugins
.flutter-plugins-dependencies
local.properties

.dart_tool/
.packages
build/
output/
